<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>管理归还书籍</title>
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <style>
         .not_show{
            display: none;
        }
        .search_container{
            width: 250px;
            position: fixed;
            right: 40%;
            top: 0;
            z-index: 10;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href={{url_for("index.index")}}>借阅系统</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href={{url_for("admin.add_book")}} role="button">增加书籍</a></li>
        <li><a href={{url_for("admin.get_admin_pending_order_page")}} role="button">管理订单</a></li>
        <li><a  href={{url_for("admin.get_return_book_page")}} role="button">管理返回书籍</a></li>
      </ul>
      <form class="navbar-form navbar-left">
        <div class="form-group">
          <input id="searcher" type="text" class="form-control" placeholder="输入寻找的用户名" aria-describedby="basic-addon1">
        </div>
      </form>
      <ul class="nav navbar-nav navbar-right">
        <li><a href={{url_for("admin.add_type_page")}} role="button">管理书籍类型</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<div class="container">
        <table class="table table-bordered table-hover table-condensed" id="id-table-result">
        <thead class="thead-light" id="id-table-head">
        <tr>
          <th>用户名</th>
            <th>书籍</th>
            <th>开始日期</th>
            <th>还书日期</th>
            <th>#</th>
        </tr>
      </thead>
        <tbody id="id-table-body">

      </tbody>
    </table>
    </div>
<script>
    var ajax = function(method, path, data, reseponseCallback) {
            var r = new XMLHttpRequest()
            // 设置请求方法和请求地址
            r.open(method, path, true)
            // 设置发送的数据的格式为 application/json
            // 这个不是必须的
            r.setRequestHeader('Content-Type', 'application/json')
            // 注册响应函数
            r.onreadystatechange = function() {
                if(r.readyState === 4) {
                    // r.response 存的就是服务器发过来的放在 HTTP BODY 中的数据
                    reseponseCallback(r.response)
                }
            }
            // 把数据转换为 json 格式字符串
            data = JSON.stringify(data)
            // 发送请求
            r.send(data)
        }

        var log = function() {
            console.log.apply(console, arguments)
        }

        var get = function (str) {
            return document.querySelector(str)
        }

        var tbody_template = function (id, user_id, book_id, username, bookname, start_date, end_date) {
            var tmp = `
                    <tr id='target-${id}' data-username=${username} class="item">
                      <td>${username}</td>
                      <td>${bookname}</td>
                      <td>${start_date}</td>
                      <td>${end_date}</td>
              <td>
                    <button type="button" class="btn agree_but btn-success" data-id=${id} data-userid=${user_id} data-bookid=${book_id} data-startdate=${start_date} data-enddate=${end_date}>
                    确认书已经收到</button>
              </td>

                    </tr>
            `
            return tmp
        }

    var put_all_order = function (resp) {
        log(resp)
        resp = JSON.parse(resp)
        var table_body = get("#id-table-body")
        for(var i=0; i<resp.length;i++){
            var target = resp[i]
            var tmp = tbody_template(target["id"], target["user_id"], target["book_id"],target["username"], target["bookname"], target["start_date"],target["end_date"])
            table_body.insertAdjacentHTML("beforeEnd", tmp)
        }
    }

    var action_on_order_callback = function (resp) {
        var ele = get(`#target-${resp}`)
        ele.remove()
    }

    var action_on_order = function (event) {
        var target = event.target
        if (target.classList.contains("btn")){
            var data = {
                id:target.dataset.id,
                user_id:target.dataset.userid,
                book_id:target.dataset.bookid,
                start_date:target.dataset.startdate,
                end_date:target.dataset.enddate,
            }
            ajax("POST", "{{url_for('admin.after_confirm_return_apply')}}", data, action_on_order_callback)
        }
    }

    var get_all = function (str) {
        return document.querySelectorAll(str)
    }

    var to_lower = function (str) {
        var res = ""
        for(var i=0; i<str.length; i++){
            var tmp = str.charCodeAt(i)
            if (tmp>= 65 && tmp<=90){
                tmp += 32
            }
            res += String.fromCharCode(tmp)
        }
        return res
    }

    var searching_username = function () {
        var user_input = to_lower(get("#searcher").value)
        var iterms = get_all(".item")
        for (var i=0;i<iterms.length;i++){
            var username = to_lower(iterms[i].dataset.username)
            if (username.search(user_input)<0){
                iterms[i].classList.add("not_show")
            }
            else{
                iterms[i].classList.remove("not_show")
            }
        }
    }

    var bind_event = function() {
        var table_body = get("#id-table-body")
        var searcher = get("#searcher")
        table_body.addEventListener("click", action_on_order)
        searcher.addEventListener("input", searching_username)
    }

    var put_orders_inplace = function () {
        ajax("POST", '{{url_for("admin.get_all_return_book_apply")}}', null, put_all_order)
    }

</script>
<script>
    put_orders_inplace()
    bind_event()
</script>
</body>
</html>